<!-- Navbar Start -->
<div class="container-fluid fixed-top px-0 wow fadeIn" data-wow-delay="0.1s">
    <div class="top-bar row gx-0 align-items-center d-none d-lg-flex">
        <div class="col-lg-6 px-5 text-start">
            <small><i class="fa fa-map-marker-alt text-primary me-2"></i>Naples, Italy, EU</small>
            <small class="ms-4"><i class="fa fa-clock text-primary me-2"></i>8.30 - 10.30 | 14.30 - 16.30 </small>
        </div>
        <div class="col-lg-6 px-5 text-end">
            <small><i class="fa fa-envelope text-primary me-2"></i>alessandro.chiaiese@libero.it</small>
            <small class="ms-4"><i class="fa fa-phone-alt text-primary me-2"></i>+39 3282745098</small>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light py-lg-0 px-lg-5 wow fadeIn" data-wow-delay="0.1s">
        <a href="{% url home %}" class="navbar-brand ms-4 ms-lg-0">

            <a class="display-6 text-primary m-0" href="{% url home %}">
                <img src="{% static 'img/logoFX.png' %}" alt="" width="50" height="50">
                Retail Group
            </a>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="{% url home %}" class="nav-item nav-link active">Home</a>
                <!--<a href="{% url about %}" class="nav-item nav-link">Chi siamo</a>
                    <a href="{% url service %}" class="nav-item nav-link">Servizi</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pagine</a>
                        <div class="dropdown-menu border-light m-0">
                            <a href="{% url projects %}" class="dropdown-item">Progetti</a>
                            <a href="{% url features %}" class="dropdown-item">Features</a>
                            <a href="{% url team %}" class="dropdown-item">Organigramma</a>
                            <a href="{% url testimonial %}" class="dropdown-item">Testimonial</a>
                            <a href="{% url error_404 %}" class="dropdown-item">404 Page</a>
                        </div>
                    </div>-->
                <a href="{% url contact %}" class="nav-item nav-link">Contattaci</a>
            </div>
            <div class="d-none d-lg-flex ms-2">
                <!--
                    <a class="btn btn-light btn-sm-square rounded-circle ms-3" href="">
                        <small class="fab fa-twitter text-primary"></small>
                    </a>
                    <a class="btn btn-light btn-sm-square rounded-circle ms-3" href="">
                        <small class="fab fa-linkedin-in text-primary"></small>-->
                <a class="btn btn-light btn-sm-square rounded-circle ms-3" href="">
                    <small class="fab fa-facebook-f text-primary"></small>
                </a>
                <a class="btn btn-light btn-sm-square rounded-circle ms-3"
                    href="https://www.instagram.com/retailgroupfx/">
                    <small class="fab fa-instagram text-primary"></small> 
                </a>
                <a class="btn btn-light btn-sm-square rounded-circle ms-3"
                    href="https://t.me/+M3jmYNpIwXJhZjA0">
                    <small class="fab fa-telegram text-primary"></small>
                </a>
            </div>
        </div>
    </nav>
</div>
<!-- Navbar End -->