{% load static %}
    <!-- Partner Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <!--<p class="d-inline-block border rounded text-primary fw-semi-bold py-1 px-3">partner</p>-->
                <h1 class="display-5 mb-5">Partner</h1>
            </div>
            <center>
                <img src="{% static 'img/partner-vantage.png'%}" alt="">
            </center>
        </div>
    </div>
    <!-- Partner End -->