<!-- Footer Start -->
<div class="container-fluid bg-dark text-light footer mt-5 py-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-4">I nostri uffici</h4>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Naples, Italy, EU</p>
                <!--<p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+39 3245848676</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+39 3282745098</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>alessandro.chiaiese@libero.it</p>-->
                <div class="d-flex pt-2">
                    <!--<a class="btn btn-square btn-outline-light rounded-circle me-2" href=""><i
                            class="fab fa-twitter"></i></a>
                    <a class="btn btn-square btn-outline-light rounded-circle me-2" href=""><i
                            class="fab fa-youtube"></i></a>
                    <a class="btn btn-square btn-outline-light rounded-circle me-2" href=""><i
                            class="fab fa-linkedin-in"></i></a>-->
                    <a class="btn btn-square btn-outline-light rounded-circle me-2" href="https://www.facebook.com/Retailgroupfx-111924241573658"><i
                            class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-square btn-outline-light rounded-circle me-2" href="https://www.instagram.com/retailgroupfx/"><i
                            class="fab fa-instagram"></i></a>
                    <a class="btn btn-square btn-outline-light rounded-circle me-2" href="https://t.me/+M3jmYNpIwXJhZjA0"><i
                            class="fab fa-telegram"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-4">Servizi</h4>
                <a class="btn btn-link" href="">Live Trading</a>
                <!--Financial Planning-->
                <a class="btn btn-link" href="">Sala Segnali</a>
                <!--Cash Investment-->
                <a class="btn btn-link" href="">Live Analysis</a>
                <!--Financial Consultancy-->
                <a class="btn btn-link" href="">Gestione Conto</a>
                <!--Business Loans-->
                <!--<a class="btn btn-link" href="">Business Analysis</a>-->
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-4">Collegamenti Rapidi</h4>
                <!--<a class="btn btn-link" href="{#{% url 'about' %}#}">Chi siamo</a>
                <a class="btn btn-link" href="{#{% url 'contact' %}#}">Contattaci</a>
                <a class="btn btn-link" href="{#{% url 'service' %}#}">Servizi</a>-->
                <a class="btn btn-link" href="{% url 'terms' %}">Termini & Condizioni</a>
                <a class="btn btn-link" href="{% url 'support' %}">Supporto</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-4">Newsletter</h4>
                <p>Non perderti le nuove notizie. Registrati alla Newsletter così riceverai per email le notizie
                    recenti.</p>
                <div class="position-relative w-100">
                    <input class="form-control bg-white border-0 w-100 py-3 ps-4 pe-5" type="text" placeholder="Email">
                    <button type="button"
                        class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">Registrati</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->


<!-- Copyright Start -->
<div class="container-fluid copyright py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                <a class="border-bottom" href="#">RetailGroup FX</a> &copy; 2021-2022 - Tutti i diritti riservati
            </div>
            <div class="col-md-6 text-center text-md-end">
                <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                Prodotto da <a class="border-bottom" href="https://instagram.com">Alessandro Chiaiese</a>
                <!--Distributed By <a
                        href="https://themewagon.com">ThemeWagon</a>-->
            </div>
        </div>
    </div>
</div>
<!-- Copyright End -->