{% load static %}
<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <!--<p class="d-inline-block border rounded text-primary fw-semi-bold py-1 px-3">Our Team</p>-->
            <h1 class="display-5 mb-5">Team Esclusivo</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-2"></div>
            <!--<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item">
                    <img class="img-fluid rounded" src="{% static 'img/team-1.jpg' %}" alt="">
                    <div class="team-text">
                        <h4 class="mb-0">?</h4>
                        <div class="team-social d-flex">
                            <a class="btn btn-square rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>-->
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item">
                    <!--<img class="img-fluid rounded" src="{% static 'img/team-2.jpg' %}" alt="">-->
                    <div class="team-text">
                        <h4 class="mb-0">Alessandro Chiaiese</h4>
                        <div class="team-social d-flex"> 
                            <a class="btn btn-square rounded-circle mx-1" href="+39 3282745098"><i class="fa fa-phone-alt"></i></a>
                            <a class="btn btn-square rounded-circle mx-1" href="alessandro.chiaiese@libero.it"><i class="fa fa-envelope"></i></a>
                            <!--<a class="btn btn-square rounded-circle mx-1" href="https://www.instagram.com/chiaiese_alessandro/"><i class="fab fa-instagram"></i></a>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item">
                    <!--<img class="img-fluid rounded" src="{% static 'img/team-3.jpg' %}" alt="">-->
                    <div class="team-text">
                        <h4 class="mb-0">Ciro M. Lubrano</h4>
                        <div class="team-social d-flex">
                            <a class="btn btn-square rounded-circle mx-1" href="+39 3245848676"><i class="fa fa-phone-alt"></i></a>
                            <a class="btn btn-square rounded-circle mx-1" href=""><i class="fa fa-envelope"></i></a>
                            <!--<a class="btn btn-square rounded-circle mx-1" href="https://www.instagram.com/ciro_merone/"><i class="fab fa-instagram"></i></a>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</div>

<!-- Team End -->